body {
  background-color: black;
}

.canvas {
	width: 100vw;
	height: 100vh;
	margin: 0px auto;
	background: black;
  text-align: center;
}

button:hover span {
  display: none;
}

button:hover:before {
  content: "The show received critical acclaim. The series became the first Korean drama to top Netflix's top ten weekly most-watched TV show charts globally. It reached number one in 94 countries, including the United States and the United Kingdom. Netflix estimated that Squid Game had drawn over 111 million member households worldwide after 17 days of availability, and over 142 million member households after 28 days, surpassing the 82 million that Bridgerton had received in its first 28 days in December 2020, and becoming the service's most-watched series at its launch. According to Bloomberg News, by October 2021, Netflix estimated that Squid Game had generated nearly US$900 million in value based on extended viewer data. Squid Game was the second-most watched original series in the United States on streaming services for all of 2021, following Lucifer.";
  font-family: 'Kanit', sans-serif;
  font-size: 18px;
  color: #00FFFF;
}

.title{
  font-family: 'Oswald', sans-serif;
  color: white;
  font-size: 75px;
  margin-top: 0;
  margin-bottom: 0;
  background-color: black;
  border: none;
  padding: 12px 32px;
  line-height: 0.25;
}

.description {
  font-family: 'Kanit', sans-serif;
  color: white;
  font-size: 18px;
  text-align: left;
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
}

a.link {
  color: white;
}

a:hover{
  color: red;
}

a:visited{
  color: white;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  grid-gap: 20px;
  align-items: stretch;
  }
.grid img {
  border: none;
  box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
  max-width: 100%;
  height: auto;
}
